@model IEnumerable<LessonTopic>

@{
    var topics = Model;
}

<div class="container">
    <form>
        <center>
            <div class="form-row align-items-center">
                <h4>Поиск по названию</h4>
                <div class="col-auto">
                    <input type="search" class="custom-search form-control mb-2 col-xs-" name="pattern" placeholder="Введие название темы">
                    <button type="submit" class="btn btn-primary mb-2">Поиск</button>
                </div>
            </div>
        </center>
    </form>

    <br />
    <br />

    <div class="row">
        @foreach (var topic in topics) {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@topic.PictureUrl" data-holder-rendered="true">
                    <div class="card-body">
                        <h5 class="card-title">@topic.ShortTitle</h5>
                        <p class="card-text">@((topic.Description!.Length <= 100) ? string.Join("", topic.Description!.Take(100)) : string.Join("", topic.Description!.Take(100)) + "...")</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="@topic.Url"><button type="button" class="btn btn-sm btn-outline-secondary">Читать</button></a>
                            </div>
                            <small class="text-muted">@topic.DateCreation.ToShortDateString()</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .btn, .custom-search {
        width: 100%;
        max-width: 400px;
    }
</style>

@*<form action="" method="get">
    <input type="search" name="pattern" />
    <button type="submit">Найти</button>
</form>*@